USE [master]
GO
/****** Object:  Database [bdHospital]    Script Date: 29/7/2026 09:56:04 ******/
CREATE DATABASE [bdHospital]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bdHospital', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\bdHospital.mdf' , SIZE = 20480KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'bdHospital_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\bdHospital_log.ldf' , SIZE = 20096KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bdHospital].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bdHospital]
GO
/****** Object:  User [USUARIO-PC\USUARIO]    Script Date: 29/7/2026 09:56:05 ******/
CREATE USER [USUARIO-PC\USUARIO] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [HOSPJOV-PC\Invitado]    Script Date: 29/7/2026 09:56:05 ******/
CREATE USER [HOSPJOV-PC\Invitado] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [HOSPJOV-PC\HospJov]    Script Date: 29/7/2026 09:56:05 ******/
CREATE USER [HOSPJOV-PC\HospJov] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [HOSPJOV-PC\Invitado]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [HOSPJOV-PC\Invitado]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [HOSPJOV-PC\Invitado]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [HOSPJOV-PC\Invitado]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [HOSPJOV-PC\Invitado]
GO
ALTER ROLE [db_datareader] ADD MEMBER [HOSPJOV-PC\Invitado]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [HOSPJOV-PC\Invitado]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [HOSPJOV-PC\Invitado]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [HOSPJOV-PC\Invitado]
GO
/****** Object:  Table [dbo].[Arancel_Nomenclador]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arancel_Nomenclador](
	[Id] [int] NOT NULL,
	[Codigos] [nvarchar](255) NULL,
	[Arancel] [decimal](10, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Area]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Area](
	[idArea] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cabo]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cabo](
	[idCabo] [int] IDENTITY(1,1) NOT NULL,
	[fechaCabo] [date] NULL,
	[codigoCabo] [nvarchar](50) NULL,
	[idPaciente] [int] NULL,
	[idObraSocial] [int] NULL,
	[idTipoAtencion] [int] NULL,
	[fechaAltaInternacion] [date] NULL,
	[idRegistroCobro] [int] NULL,
	[fechaCobroCabo] [date] NULL,
 CONSTRAINT [PK_Cabo] PRIMARY KEY CLUSTERED 
(
	[idCabo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CIE_10_COD3]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIE_10_COD3](
	[Id] [int] NOT NULL,
	[Codigo] [nvarchar](255) NULL,
	[Descripcion] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CIExCabo]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIExCabo](
	[idCIExCabo] [int] IDENTITY(1,1) NOT NULL,
	[idCIE] [int] NULL,
	[idCabo] [int] NULL,
	[observaciones] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CondIva]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CondIva](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamentos](
	[id] [int] NOT NULL,
	[provincia_id] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especialidad]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidad](
	[idEspecilidad] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LaboratorioXcabo]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LaboratorioXcabo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idCabo] [int] NULL,
	[idLaboratorio] [int] NULL,
	[monto] [decimal](8, 2) NULL,
	[cantidad] [decimal](8, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Localidades]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localidades](
	[id] [int] NOT NULL,
	[departamento_id] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicamentos]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicamentos](
	[idMedicamento] [int] IDENTITY(1,1) NOT NULL,
	[producto] [nvarchar](50) NULL,
	[presentacion] [nvarchar](50) NULL,
	[precio] [numeric](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicamentoXcabo]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicamentoXcabo](
	[idMedicamentoXcabo] [int] IDENTITY(1,1) NOT NULL,
	[idMedicamento] [int] NULL,
	[idCabo] [int] NULL,
	[cantidad] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MontoMedicamentoXcabo]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MontoMedicamentoXcabo](
	[idMontoXmedicamento] [int] IDENTITY(1,1) NOT NULL,
	[idCabo] [int] NULL,
	[monto] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nomenclador]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nomenclador](
	[Id] [int] NOT NULL,
	[Codigos] [nvarchar](255) NULL,
	[Descripcion] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nomenclador_Laboratorio]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nomenclador_Laboratorio](
	[Id] [int] NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[idNomenclador] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NomencladorXcabo]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NomencladorXcabo](
	[idNomencladoXcabo] [int] IDENTITY(1,1) NOT NULL,
	[idCabo] [int] NULL,
	[idNomenclador] [int] NULL,
	[cantidad] [int] NULL,
	[debito] [numeric](18, 2) NULL,
	[montoPractica] [decimal](10, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObraSocial]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObraSocial](
	[Id] [int] NOT NULL,
	[codigo] [float] NULL,
	[descripcion] [nvarchar](255) NULL,
	[sigla] [nvarchar](255) NULL,
	[localidad] [nvarchar](50) NULL,
	[numero] [nvarchar](6) NULL,
	[calle] [nvarchar](50) NULL,
	[cp] [nvarchar](8) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObraSociales]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObraSociales](
	[idObraSocial] [int] IDENTITY(1,1) NOT NULL,
	[codObraSocial] [nchar](10) NULL,
	[razon_social] [varchar](200) NULL,
	[cuit] [nchar](11) NULL,
	[idIva] [int] NULL,
	[idLocalidad] [int] NULL,
	[calle] [nchar](50) NULL,
	[numero] [nchar](5) NULL,
	[cp] [nchar](4) NULL,
	[mail] [nchar](50) NULL,
	[telefono] [nchar](15) NULL,
 CONSTRAINT [PK_ObraSocial] PRIMARY KEY CLUSTERED 
(
	[idObraSocial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente](
	[idPaciente] [int] IDENTITY(1,1) NOT NULL,
	[fecha_nacimiento] [date] NULL,
	[sexo] [int] NULL,
	[idEstadoCivil] [int] NULL,
	[telefonoFijo] [nchar](15) NULL,
	[telefonoCelular] [nchar](15) NULL,
	[ocupacion] [nchar](30) NULL,
	[idLocalidad] [int] NULL,
	[calle] [nchar](30) NULL,
	[numero] [nchar](5) NULL,
	[cp] [nchar](8) NULL,
	[idObraSocial] [int] NULL,
	[numeroAfiliado] [nchar](20) NULL,
	[idTipoBeneficiario] [int] NULL,
	[idParentesco] [int] NULL,
	[dni] [int] NULL,
	[nombre] [nvarchar](50) NULL,
	[apellido] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personal]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personal](
	[idPersonal] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[apellido] [nvarchar](50) NULL,
	[dni] [int] NULL,
	[legajo] [nvarchar](10) NULL,
	[numero] [nchar](5) NULL,
	[idLocalidad] [int] NULL,
	[cp] [nchar](8) NULL,
	[calle] [nchar](30) NULL,
	[telefonoFijo] [nchar](15) NULL,
	[telefonoCelular] [nchar](15) NULL,
	[idArea] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profesionales]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesionales](
	[idProfesional] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[apellido] [nvarchar](50) NULL,
	[dni] [int] NULL,
	[matricula_profesional] [nvarchar](10) NULL,
	[numero] [nchar](5) NULL,
	[idLocalidad] [int] NULL,
	[cp] [nchar](8) NULL,
	[calle] [nchar](30) NULL,
	[telefonoFijo] [nchar](15) NULL,
	[telefonoCelular] [nchar](15) NULL,
	[porc_autogestion] [float] NULL,
	[idEspecialidad] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProfesionalXpractica]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfesionalXpractica](
	[idProfesionalXpractica] [int] IDENTITY(1,1) NOT NULL,
	[idNomencladorXcabo] [int] NULL,
	[idProfesional] [int] NULL,
	[idCabo] [int] NULL,
	[debito] [numeric](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincias]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincias](
	[id] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistroCobroOS]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroCobroOS](
	[idRegistro] [int] IDENTITY(1,1) NOT NULL,
	[numeroFactura] [nvarchar](16) NULL,
	[fechaPrestacion] [date] NULL,
	[fechaPresentacion] [date] NULL,
	[fechaCobro] [date] NULL,
	[importeFacturado] [numeric](18, 2) NULL,
	[importeCobrado] [numeric](18, 2) NULL,
	[estado] [nvarchar](10) NULL,
	[idObraSocial] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Temp_LiquidacionProfesionales]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_LiquidacionProfesionales](
	[idCabo] [int] NULL,
	[fechaCobroCabo] [date] NULL,
	[idNomenclador] [int] NULL,
	[idProfesional] [int] NULL,
	[montoPractica] [numeric](18, 2) NULL,
	[idObraSocial] [int] NULL,
	[idNomencladorXcabo] [int] NULL,
	[idRegistro] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_buscarCabosParaGrilla]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_buscarCabosParaGrilla]
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT c.idCabo, c.codigoCabo, c.fechaCabo, (p.apellido + ' ' + p.nombre), c.idTipoAtencion, o.descripcion
	FROM Cabo c, ObraSocial o, Paciente p
	WHERE c.idPaciente = p.idPaciente and c.idObraSocial = o.Id
	ORDER BY p.apellido asc
	

END
GO
/****** Object:  StoredProcedure [dbo].[sp_buscarCabosPorDNI]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_buscarCabosPorDNI] (@dni as int)
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT c.idCabo, c.codigoCabo, c.fechaCabo, (p.apellido + ' ' + p.nombre), c.idTipoAtencion, o.descripcion
	FROM Cabo c, ObraSocial o, Paciente p
	WHERE c.idPaciente = p.idPaciente and c.idObraSocial = o.Id
	AND p.dni = @dni
	order by c.idCabo desc
	

END
GO
/****** Object:  StoredProcedure [dbo].[sp_buscarCabosPorPametro]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_buscarCabosPorPametro] (@descripcion as varchar(30))
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT c.idCabo, c.codigoCabo, c.fechaCabo, (p.apellido + ' ' + p.nombre), c.idTipoAtencion, o.descripcion
	FROM Cabo c, ObraSocial o, Paciente p
	WHERE c.idPaciente = p.idPaciente and c.idObraSocial = o.Id
	AND (p.nombre  LIKE '%' +  @descripcion + '%' or p.apellido like '%' + @descripcion + '%')
	ORDER BY p.apellido asc
	

END
GO
/****** Object:  StoredProcedure [dbo].[sp_buscarCabosXid]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_buscarCabosXid] (@id as int)
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM Cabo c
	WHERE c.idCabo = @id

	

	

END
GO
/****** Object:  StoredProcedure [dbo].[sp_buscarCIExCabo]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_buscarCIExCabo] (@id as int)
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT c10.Id, c10.Codigo, c10.Descripcion, ci.observaciones
	FROM Cabo c, CIExCabo ci, CIE_10_COD3 c10
	WHERE c.idCabo = @id AND ci.idCabo = @id and c10.Id = ci.idCIE

	

	

END

GO
/****** Object:  StoredProcedure [dbo].[sp_buscarLaboratorioXcabo]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[sp_buscarLaboratorioXcabo] (@idCabo as int)
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--SELECT lc.id, lc.idCabo, lc.idLaboratorio, lc.monto, nl.Descripcion, an.Codigos, lc.cantidad
	--FROM Nomenclador_Laboratorio nl, LaboratorioXcabo lc, Nomenclador n, Arancel_nomenclador an 
	--WHERE lc.idCabo = @idCabo and
	--	nl.id = lc.idLaboratorio and
	--	n.Codigos = an.Codigos and 
	--	nl.idNomenclador = n.Descripcion
		select lc.id, lc.idCabo, lc.idLaboratorio, lc.monto, nl.Descripcion, n.Codigos, lc.cantidad
		from LaboratorioXcabo lc, Nomenclador_Laboratorio nl, Nomenclador n
		where idCabo = @idCabo
		and lc.idLaboratorio = nl.Id
		and n.Descripcion = nl.idNomenclador;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_buscarMedicamento]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_buscarMedicamento](@descripcion as varchar(50),@id as int)
	

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	-- busco todos los pacientes
	if @descripcion is null and @id = 0 begin
		select * from Medicamentos order by producto asc
	end
	-- busco los pacientes por descripcion
	if @descripcion is not null and @id = 0
	begin
		select * from Medicamentos where producto  LIKE '%' +  @descripcion + '%'or presentacion like @descripcion + '%' order by producto asc
	end
	-- busco paciente por id
	if @id > 0 
	begin
		select * from Medicamentos where idMedicamento = @id order by producto asc
	end
	-- Insert statements for procedure here
END
GO
/****** Object:  StoredProcedure [dbo].[sp_buscarMedicamentoXcabo]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_buscarMedicamentoXcabo] (@idCabo as int)
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT m.idMedicamento, m.producto, m.presentacion, mc.cantidad, m.precio
	FROM Cabo c, Medicamentos m, MedicamentoXcabo mc
	WHERE mc.idCabo = @idCabo and
		c.idCabo = mc.idCabo and
		m.idMedicamento = mc.idMedicamento
		

END
GO
/****** Object:  StoredProcedure [dbo].[sp_buscarNomencladorxCabo]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_buscarNomencladorxCabo] (@id as int)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT  n.Id, n.Codigos, n.Descripcion, nc.cantidad, nc.idNomencladoXcabo
	FROM Cabo c, NomencladorXcabo nc, Nomenclador n
	WHERE c.idCabo = @id AND nc.idCabo = @id and n.Id = nc.idNomenclador

	

	

END

GO
/****** Object:  StoredProcedure [dbo].[sp_buscarPaciente]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_buscarPaciente](@descripcion as varchar(30),@id as int)
	

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	-- busco todos los pacientes
	if @descripcion is null and @id = 0 begin
		select * from Paciente order by apellido asc
	end
	-- busco los pacientes por descripcion
	if @descripcion is not null and @id = 0
	begin
		select idPaciente, dni, (apellido + ' ' + nombre) as nombre from Paciente where apellido  LIKE '%' +  @descripcion + '%'or dni like @descripcion + '%' order by apellido asc
	end
	-- busco paciente por id
	if @id > 0 
	begin
		select * from Paciente where idPaciente = @id order by apellido asc
	end
	-- Insert statements for procedure here
END
GO
/****** Object:  StoredProcedure [dbo].[sp_buscarPersonal]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_buscarPersonal] (@descripcion as varchar(30),@id as int)
	

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	-- busco todos los pacientes
	if @descripcion is null and @id = 0 begin
		select * from Personal order by apellido asc
	end
	-- busco los pacientes por descripcion
	if @descripcion is not null and @id = 0
	begin
		select * from Personal where apellido  LIKE '%' +  @descripcion + '%'or dni like @descripcion + '%' order by apellido asc
	end
	-- busco paciente por id
	if @id > 0 
	begin
		select * from Personal p, Area e  where idPersonal = @id and e.idArea = p.idArea  order by apellido asc
	end
	-- Insert statements for procedure here
END

GO
/****** Object:  StoredProcedure [dbo].[sp_buscarProfesional]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_buscarProfesional] (@descripcion as varchar(30),@id as int)
	

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	-- busco todos los pacientes
	if @descripcion is null and @id = 0 begin
		select * from Profesionales order by apellido asc
	end
	-- busco los pacientes por descripcion
	if @descripcion is not null and @id = 0
	begin
		select * from Profesionales where apellido  LIKE '%' +  @descripcion + '%'or dni like @descripcion + '%' order by apellido asc
	end
	-- busco paciente por id
	if @id > 0 
	begin
		select * from Profesionales p, Especialidad e  where idProfesional = @id and e.idEspecilidad = p.idEspecialidad  order by apellido asc
	end
	-- Insert statements for procedure here
END
GO
/****** Object:  StoredProcedure [dbo].[sp_buscarProfesionalXpractica]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[sp_buscarProfesionalXpractica] (@id as int)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT p.idProfesional, p.nombre, p.apellido
	FROM ProfesionalXpractica pp, Profesionales p
	WHERE pp.idNomencladorXcabo = @id and pp.idProfesional = p.idProfesional

	

	

	END
GO
/****** Object:  StoredProcedure [dbo].[sp_buscarRegistroCobroOS]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_buscarRegistroCobroOS] (@descripcion as varchar(30),@id as int)
	

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	-- busco todos 
	if @descripcion is null and @id = 0 
	begin
		select r.idRegistro, r.numeroFactura as 'Nro Fac.',os.descripcion As 'Obra Social',r.estado AS 'Estado', r.fechaPrestacion AS 'Fecha Prestación',r.fechaPresentacion as 'Fecha Presentación',r.fechaCobro as 'Fecha Cobro',r.importeFacturado as 'Importe Facturado',r.importeCobrado as 'Importe Cobrado',r.idObraSocial
		from RegistroCobroOS r, ObraSocial os
		where r.idObraSocial = os.Id 
	end
	-- busco por id
	if @id > 0 
	begin
		select r.idRegistro, r.numeroFactura as 'Nro Fac.',os.descripcion As 'Obra Social',r.estado AS 'Estado', r.fechaPrestacion AS 'Fecha Prestación',r.fechaPresentacion as 'Fecha Presentación',r.fechaCobro as 'Fecha Cobro',r.importeFacturado as 'Importe Facturado',r.importeCobrado as 'Importe Cobrado',r.idObraSocial 
		from RegistroCobroOS r, ObraSocial os
		where r.idRegistro = @id and 
		r.idObraSocial = os.Id 
	end
	-- busco por numero de factura
	if @descripcion is not null and @id = 0
	begin
		select r.idRegistro, r.numeroFactura as 'Nro Fac.',os.descripcion As 'Obra Social',r.estado AS 'Estado', r.fechaPrestacion AS 'Fecha Prestación',r.fechaPresentacion as 'Fecha Presentación',r.fechaCobro as 'Fecha Cobro',r.importeFacturado as 'Importe Facturado',r.importeCobrado as 'Importe Cobrado',r.idObraSocial
		from RegistroCobroOS r, ObraSocial os
		where (r.numeroFactura  LIKE  @descripcion + '%' or os.sigla like '%' + @descripcion + '%' or os.descripcion like '%' + @descripcion + '%')
		and r.idObraSocial = os.Id
	end
	-- Insert statements for procedure here
END
GO
/****** Object:  StoredProcedure [dbo].[sp_buscarTodosCabosParaDebito]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_buscarTodosCabosParaDebito] (@idRegistroCobro as int, @idCaboBusqueda as int)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

if @idCaboBusqueda = 0 
begin

/******select c.idCabo, nc.idNomencladoXcabo, c.idRegistroCobro, c.fechaCobroCabo, n.Codigos, n.Descripcion, nc.cantidad, an.Arancel , (nc.cantidad * an.Arancel), (p.apellido + ' ' + p.nombre), pp.debito, pp.idProfesionalXpractica **/
select c.idCabo, nc.idNomencladoXcabo, c.idRegistroCobro, c.fechaCobroCabo, n.Codigos, n.Descripcion, nc.cantidad, nc.montoPractica , (nc.cantidad * nc.montoPractica), (p.apellido + ' ' + p.nombre), pp.debito, pp.idProfesionalXpractica

from 

cabo c, 
NomencladorXcabo nc, 
Nomenclador n, 
Arancel_Nomenclador an,
ProfesionalXpractica pp,
Profesionales p


where   c.idCabo = nc.idCabo and

nc.idNomenclador = n.Id and
n.Codigos = an.Codigos and
c.idCabo = pp.idCabo and
pp.idNomencladorXcabo = nc.idNomencladoXcabo
and pp.idProfesional = p.idProfesional
and c.fechaCobroCabo is not null
and c.idRegistroCobro = @idRegistroCobro


order by c.idCabo asc


end
if @idCaboBusqueda > 0 
begin

/*select c.idCabo, nc.idNomencladoXcabo, c.idRegistroCobro, c.fechaCobroCabo, n.Codigos, n.Descripcion, nc.cantidad, an.Arancel , (nc.cantidad * an.Arancel), (p.apellido + ' ' + p.nombre), pp.debito, pp.idProfesionalXpractica*/
select c.idCabo, nc.idNomencladoXcabo, c.idRegistroCobro, c.fechaCobroCabo, n.Codigos, n.Descripcion, nc.cantidad, nc.montoPractica , (nc.cantidad * nc.montoPractica), (p.apellido + ' ' + p.nombre), pp.debito, pp.idProfesionalXpractica

from 

cabo c, 
NomencladorXcabo nc, 
Nomenclador n, 
Arancel_Nomenclador an,
ProfesionalXpractica pp,
Profesionales p


where   c.idCabo = nc.idCabo and

nc.idNomenclador = n.Id and
n.Codigos = an.Codigos and
c.idCabo = pp.idCabo and
pp.idNomencladorXcabo = nc.idNomencladoXcabo
and pp.idProfesional = p.idProfesional
and c.fechaCobroCabo is not null
and c.idRegistroCobro = @idRegistroCobro
and c.idCabo = @idCaboBusqueda

order by c.idCabo asc

end

END
GO
/****** Object:  StoredProcedure [dbo].[sp_detalleProducidoLaboratorioPorCabo]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_detalleProducidoLaboratorioPorCabo]
    @fechaDesde DATE,
    @fechaHasta DATE
AS
BEGIN
    SET NOCOUNT ON;

	INSERT INTO Temp_LiquidacionProfesionales (
        idCabo,
        fechaCobroCabo,
        idNomenclador,
        idProfesional,
        montoPractica,
        idObraSocial,
        idNomencladorXcabo,
        idRegistro
    )
	
	SELECT 
        Cabo.idCabo,
        Cabo.fechaCobroCabo,
        LaboratorioXcabo.idLaboratorio,
        1057,
        (LaboratorioXcabo.monto * LaboratorioXcabo.cantidad),
        Cabo.idObraSocial,
        LaboratorioXcabo.idLaboratorio,
        Cabo.idRegistroCobro
    FROM
        LaboratorioXcabo
        --INNER JOIN MontoMedicamentoXcabo ON MedicamentoXcabo.idCabo = MontoMedicamentoXcabo.idCabo
        --INNER JOIN Medicamentos ON Medicamentos.idMedicamento = MedicamentoXcabo.idMedicamento
        INNER JOIN Cabo ON Cabo.idCabo = LaboratorioXcabo.idCabo
    WHERE
        Cabo.fechaCobroCabo >=  @fechaDesde
        AND Cabo.fechaCobroCabo <  @fechaHasta
        AND Cabo.fechaCobroCabo IS NOT NULL
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_detalleProducidoMedicamentosPorCabo]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_detalleProducidoMedicamentosPorCabo]
    @fechaDesde DATE,
    @fechaHasta DATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Opcional: limpiar la tabla antes de insertar
    --TRUNCATE TABLE temp_resultados;

    -- Insertar resultados filtrando por fechas
    INSERT INTO Temp_LiquidacionProfesionales (
        idCabo,
        fechaCobroCabo,
        idNomenclador,
        idProfesional,
        montoPractica,
        idObraSocial,
        idNomencladorXcabo,
        idRegistro
    )
    SELECT 
        Cabo.idCabo,
        Cabo.fechaCobroCabo,
        Medicamentos.idMedicamento,
        1054,
        MontoMedicamentoXcabo.monto,
        Cabo.idObraSocial,
        MedicamentoXcabo.idMedicamentoXcabo,
        Cabo.idRegistroCobro
    FROM
        MedicamentoXcabo
        INNER JOIN MontoMedicamentoXcabo ON MedicamentoXcabo.idCabo = MontoMedicamentoXcabo.idCabo
        INNER JOIN Medicamentos ON Medicamentos.idMedicamento = MedicamentoXcabo.idMedicamento
        INNER JOIN Cabo ON Cabo.idCabo = MedicamentoXcabo.idCabo
    WHERE
        Cabo.fechaCobroCabo >= @fechaDesde
        AND Cabo.fechaCobroCabo < @fechaHasta
        AND Cabo.fechaCobroCabo IS NOT NULL;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_detalleProducidoPorProfesionales]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[sp_detalleProducidoPorProfesionales]
	-- Add the parameters for the stored procedure here
	(@fechaDesde as Date,
	@fechaHasta as Date
	
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
/*select pp.idCabo,cb.fechaCabo,cb.fechaCobroCabo,n.Id, pp.idProfesionalXpractica,p.idProfesional ,(p.apellido + ', ' + p.nombre), n.Descripcion, nc.cantidad, an.Arancel, (nc.cantidad * an.Arancel), os.sigla,os.Id, rc.numeroFactura,nc.idNomencladoXcabo,rc.idRegistro, pp.debito */
--select pp.idCabo,cb.fechaCabo,cb.fechaCobroCabo,n.Id, pp.idProfesionalXpractica,p.idProfesional ,(p.apellido + ', ' + p.nombre), n.Descripcion, nc.cantidad, nc.montoPractica, (nc.montoPractica), os.sigla,os.Id, rc.numeroFactura,nc.idNomencladoXcabo,rc.idRegistro, pp.debito 

--from ProfesionalXpractica pp, Profesionales p, Nomenclador n, NomencladorXcabo nc, Arancel_Nomenclador an, Cabo cb, ObraSocial os, RegistroCobroOS rc 
--where  cb.fechaCobroCabo between @fechaDesde and @fechaHasta
--and rc.idObraSocial = os.Id
--and rc.estado = 'COBRADA'
--AND pp.idProfesional = p.idProfesional
--and pp.idNomencladorXcabo = nc.idNomencladoXcabo
--and nc.idNomenclador = n.Id
--and n.Codigos = an.Codigos
--and pp.idCabo = cb.idCabo
--and cb.fechaCobroCabo is not null
--and cb.idRegistroCobro = rc.idRegistro
--and cb.idObraSocial = os.Id

--limpio lo tabla temporal
--delete * from (tabla_temp)
--Acá inserto el resultado en la tabla temporal 
--INSERT  (tabla_temp)  EXEC sp_detalleProducidoPorProfesionales

SELECT 
  pp.idCabo,
  cb.fechaCabo,
  cb.fechaCobroCabo,
  n.Id AS idNomenclador,
  pp.idProfesionalXpractica,
  p.idProfesional,
  (p.apellido + ', ' + p.nombre) AS profesional,
  n.Descripcion,
  nc.cantidad,
  nc.montoPractica,
  nc.montoPractica AS monto,
  os.sigla,
  os.Id AS idObraSocial,
  rc.numeroFactura,
  nc.idNomencladoXcabo,
  rc.idRegistro,
  pp.debito
FROM ProfesionalXpractica pp
JOIN Profesionales p ON pp.idProfesional = p.idProfesional
JOIN NomencladorXcabo nc ON pp.idNomencladorXcabo = nc.idNomencladoXcabo
JOIN Nomenclador n ON nc.idNomenclador = n.Id
--JOIN Arancel_Nomenclador an ON n.Codigos = an.Codigos
JOIN Cabo cb ON pp.idCabo = cb.idCabo
JOIN RegistroCobroOS rc ON cb.idRegistroCobro = rc.idRegistro
JOIN ObraSocial os ON rc.idObraSocial = os.Id AND cb.idObraSocial = os.Id
WHERE 
  cb.fechaCobroCabo IS NOT NULL
  AND cb.fechaCobroCabo BETWEEN @fechaDesde and @fechaHasta
  AND rc.estado = 'COBRADA';


END
GO
/****** Object:  StoredProcedure [dbo].[sp_detalleProducidoProfesionalPorOS]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_detalleProducidoProfesionalPorOS]
	-- Add the parameters for the stored procedure here
	(@fechaDesde as Date,
	@fechaHasta as Date,
	@idProfesional as int,
	@idRegistro as int
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	/*select pp.idCabo,cb.fechaCabo,cb.fechaCobroCabo, pp.idProfesionalXpractica,p.idProfesional ,(p.apellido + ', ' + p.nombre), n.Descripcion, nc.cantidad, an.Arancel, (nc.cantidad * an.Arancel), os.sigla, rc.numeroFactura,nc.idNomencladoXcabo, pp.debito*/ 
	select pp.idCabo,cb.fechaCabo,cb.fechaCobroCabo, pp.idProfesionalXpractica,p.idProfesional ,(p.apellido + ', ' + p.nombre), n.Descripcion, nc.cantidad, nc.montoPractica, (nc.montoPractica), os.sigla, rc.numeroFactura,nc.idNomencladoXcabo, pp.debito 

from ProfesionalXpractica pp, Profesionales p, Nomenclador n, NomencladorXcabo nc, Arancel_Nomenclador an, Cabo cb, ObraSocial os, RegistroCobroOS rc 
where  cb.fechaCobroCabo between @fechaDesde and @fechaHasta
and rc.idObraSocial = os.Id
and rc.estado = 'COBRADA'
AND pp.idProfesional = p.idProfesional
and pp.idNomencladorXcabo = nc.idNomencladoXcabo
and nc.idNomenclador = n.Id
and n.Codigos = an.Codigos
and pp.idCabo = cb.idCabo
and cb.fechaCobroCabo is not null
and cb.idRegistroCobro = rc.idRegistro
and cb.idObraSocial = os.Id
and p.idProfesional = @idProfesional
--and os.Id = @idObraSocial
and rc.idRegistro = @idRegistro
order by pp.idCabo asc
END
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminarCabos]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_eliminarCabos](@id as int)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Begin Tran Tadd
	Begin Try
		delete from Cabo where idCabo = @id 
		delete from CIExCabo where idCabo = @id
		delete from NomencladorXcabo where idCabo = @id  
		delete from MedicamentoXcabo where idCabo = @id 
		delete from MontoMedicamentoXcabo where idCabo = @id
		delete from ProfesionalXpractica where idCabo = @id    
        COMMIT TRAN Tadd

    End try

	
	Begin Catch
		Rollback TRAN Tadd
	End Catch
END
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminarMedicamento]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_eliminarMedicamento] (@idMedicamento as int)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Begin Tran Tadd
	Begin Try
		delete from Medicamentos where idMedicamento = @idMedicamento
		delete from MedicamentoXcabo where idMedicamento = @idMedicamento         
        COMMIT TRAN Tadd

    End try

	
	Begin Catch
		Rollback TRAN Tadd
	End Catch
END
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminarMedicamentoXcabo]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_eliminarMedicamentoXcabo] (@idMedicamentoXcabo as int)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Begin Tran Tadd
	Begin Try
		delete from MedicamentoXcabo where idMedicamentoXcabo = @idMedicamentoXcabo         
        COMMIT TRAN Tadd

    End try

	
	Begin Catch
		Rollback TRAN Tadd
	End Catch
END
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminarObraSocial]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Template generated from Template Explorer using:
-- Create Procedure (New Menu).SQL
--
-- Use the Specify Values for Template Parameters 
-- command (Ctrl-Shift-M) to fill in the parameter 
-- values below.
--
-- This block of comments will not be included in
-- the definition of the procedure.
-- ================================================

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_eliminarObraSocial](@id as int)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Begin Tran Tadd
	Begin Try
		delete from ObraSocial where Id = @Id       
        COMMIT TRAN Tadd

    End try

	
	Begin Catch
		Rollback TRAN Tadd
	End Catch
END

GO
/****** Object:  StoredProcedure [dbo].[sp_eliminarPaciente]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[sp_eliminarPaciente](@idPaciente as int)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Begin Tran Tadd
	Begin Try
		delete from Paciente where idPaciente = @idPaciente       
        COMMIT TRAN Tadd

    End try

	
	Begin Catch
		Rollback TRAN Tadd
	End Catch
END

GO
/****** Object:  StoredProcedure [dbo].[sp_eliminarPersonal]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_eliminarPersonal] (@idPersonal as int)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Begin Tran Tadd
	Begin Try
		delete from Personal where idPersonal = @idPersonal       
        COMMIT TRAN Tadd

    End try

	
	Begin Catch
		Rollback TRAN Tadd
	End Catch
END
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminarProfesional]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_eliminarProfesional] (@idProfesional as int)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Begin Tran Tadd
	Begin Try
		delete from Profesionales where idProfesional = @idProfesional       
        COMMIT TRAN Tadd

    End try

	
	Begin Catch
		Rollback TRAN Tadd
	End Catch
END
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminarRegistroCobroOS]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE procedure [dbo].[sp_eliminarRegistroCobroOS] (@idRegistro as int)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Begin Tran Tadd
	Begin Try
		delete from RegistroCobroOS where idRegistro = @idRegistro
		      
        COMMIT TRAN Tadd

    End try

	
	Begin Catch
		Rollback TRAN Tadd
	End Catch
END

GO
/****** Object:  StoredProcedure [dbo].[sp_eliminarTablaTemp_LiquidacionProfesionales]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_eliminarTablaTemp_LiquidacionProfesionales]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	delete from Temp_LiquidacionProfesionales
END
GO
/****** Object:  StoredProcedure [dbo].[sp_enfermedadesXid]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_enfermedadesXid](@id as int)
	-- Add the parameters for the stored procedure here
	--<@Param1, sysname, @p1> <Datatype_For_Param1, , int> = <Default_Value_For_Param1, , 0>, 
	--<@Param2, sysname, @p2> <Datatype_For_Param2, , int> = <Default_Value_For_Param2, , 0>

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
		
		select * from CIE_10_COD3 where Id = @id

	-- Insert statements for procedure here
END

GO
/****** Object:  StoredProcedure [dbo].[sp_insertarCabo]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_insertarCabo] (@id as int output, @fechaCabo as date, @codigoCabo as nvarchar(20),@idPaciente as int, @idObraSocial as int, @idTipoAtencion as int, @fechaAltaInternacion as date) 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	Begin Tran Tadd
	Begin Try
	
	      
	   Insert Into Cabo (fechaCabo,codigoCabo,idPaciente,idObraSocial,idTipoAtencion,fechaAltaInternacion)
	   Values (@fechaCabo,@codigoCabo,@idPaciente,@idObraSocial,@idTipoAtencion,@fechaAltaInternacion)
       SELECT @id =  @@IDENTITY;
		
        COMMIT TRAN Tadd
		
	   
    End try

	
	Begin Catch
		Rollback TRAN Tadd
	End Catch
END

GO
/****** Object:  StoredProcedure [dbo].[sp_insertarCIEXcabo]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_insertarCIEXcabo] (@idCabo as int, @idCIE10 as int, @observaciones as nvarchar(100))
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	Begin Tran Tadd
	Begin Try
	
	      
	   Insert Into CIEXcabo (idCabo,idCIE,observaciones)
	   Values (@idCabo,@idCIE10,@observaciones)
      
		
        COMMIT TRAN Tadd
		
	   
    End try

	
	Begin Catch
		Rollback TRAN Tadd
	End Catch
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insertarCodigoNomenclador]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_insertarCodigoNomenclador](@descripcion as nvarchar(200), @codigo as nvarchar (20), @arancel as decimal(10,2))
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	declare @id as int
	SET NOCOUNT ON;
	Begin Tran Tadd
	Begin Try

    -- Insert statements for procedure here
	set @id = (select max(Nomenclador.id) from Nomenclador)
	set @id = (@id +1)
	insert into Nomenclador (Id,Codigos, Descripcion)
	values (@id, @codigo, @descripcion)

	set @id = (select max(Arancel_Nomenclador.id) from Arancel_Nomenclador)
	set @id = (@id +1)
	insert into Arancel_Nomenclador (Id,Codigos, Arancel)
	values (@id, @codigo, @arancel)

	COMMIT TRAN Tadd

	End try

	Begin Catch
		Rollback TRAN Tadd
	End Catch

END

GO
/****** Object:  StoredProcedure [dbo].[sp_insertarLaboratorioXcabo]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_insertarLaboratorioXcabo] (@idCabo as int,@idLaboratorio as int, @monto as decimal, @cantidad as decimal(8,2)) 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	Begin Tran Tadd
	Begin Try
	
	
	      
	   Insert Into LaboratorioXcabo(idCabo,idLaboratorio,monto,cantidad) 
	   Values (@idCabo,@idLaboratorio,@monto,@cantidad)
      
        COMMIT TRAN Tadd
		
	   
    End try

	
	Begin Catch
		Rollback TRAN Tadd
	End Catch
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insertarMedicamento]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_insertarMedicamento] (@producto as nvarchar(50), @presentacion as nvarchar(50), @precio as numeric(18,2)) 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	Begin Tran Tadd
	Begin Try
	
	      
	   Insert Into Medicamentos(producto,presentacion,precio) 
	   Values (@producto,@presentacion,@precio)
      
        COMMIT TRAN Tadd
		
	   
    End try

	
	Begin Catch
		Rollback TRAN Tadd
	End Catch
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insertarMedicamentoXcabo]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_insertarMedicamentoXcabo](@idMedicamento as int, @idCabo as int, @cantidad as int) 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	Begin Tran Tadd
	Begin Try
	
	      
	   Insert Into MedicamentoXcabo(idMedicamento,idCabo,cantidad) 
	   Values (@idMedicamento,@idCabo,@cantidad)
      
        COMMIT TRAN Tadd
		
	   
    End try

	
	Begin Catch
		Rollback TRAN Tadd
	End Catch
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insertarMontoMedicamentoXcabo]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_insertarMontoMedicamentoXcabo] (@idCabo as int, @monto as float) 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	Begin Tran Tadd
	Begin Try
	
	      
	   Insert Into MontoMedicamentoxCabo (idCabo,monto) 
	   Values (@idCabo,@monto)
      
        COMMIT TRAN Tadd
		
	   
    End try
	Begin Catch
		Rollback TRAN Tadd
	End Catch
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insertarNomencladorXcabo]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_insertarNomencladorXcabo] (@id as int output,@idCabo as int, @idNomenclador as int, @cantidad as int )
AS	
	declare @montoPractica  decimal(10,2)

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	Begin Tran Tadd
	Begin Try
	
	    
		set @montoPractica = (SELECT DISTINCT Arancel_Nomenclador.Arancel from Arancel_Nomenclador, Nomenclador
 where Arancel_Nomenclador.Codigos = Nomenclador.Codigos
 and Nomenclador.Id = @idNomenclador)
		  
	   Insert Into NomencladorXcabo (idCabo,idNomenclador, cantidad, montoPractica)
	   Values (@idCabo,@idNomenclador,@cantidad,(@montoPractica * @cantidad))
      
		 SELECT @id =  @@IDENTITY;
        COMMIT TRAN Tadd
		
	   
    End try

	
	Begin Catch
		Rollback TRAN Tadd
	End Catch
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insertarObraSocial]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Template generated from Template Explorer using:
-- Create Procedure (New Menu).SQL
--
-- Use the Specify Values for Template Parameters 
-- command (Ctrl-Shift-M) to fill in the parameter 
-- values below.
--
-- This block of comments will not be included in
-- the definition of the procedure.
-- ================================================

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_insertarObraSocial](@descripcion as nvarchar(200), @sigla as nvarchar (20),@codigo as nvarchar(20), @localidad as nvarchar(50), @numero as nvarchar(6), @calle as nvarchar(50), @cp as nvarchar(8))
--(@razon_social as varchar(200),@cuit as nchar(11), @idIva as nchar(11),@idLocalidad as int,@calle as nchar(50),@numero as nchar(5),@cp as nchar(4),@telefono as nchar(15),@mail as nchar(50),@codigoObraSocial as nchar(10),@idObraSocial as int) 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	declare @id as int
	SET NOCOUNT ON;
	Begin Tran Tadd
	Begin Try

      set @id = (select max(ObraSocial.Id) from ObraSocial)
	  set @id = (@id + 1)
	   Insert Into ObraSocial (id, descripcion,codigo,sigla,localidad,numero,calle,cp) 
	   Values (@id, @descripcion,@codigo,@sigla,@localidad,@numero,@calle,@cp)
                 
        COMMIT TRAN Tadd

    End try

	
	Begin Catch
		Rollback TRAN Tadd
	End Catch
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insertarPaciente]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_insertarPaciente](@id as int output, @nombre as nvarchar(50),@apellido as nvarchar(20),@fecha_nacimiento as date,@sexo as int, @idEstadoCivil as int,@telefonoFijo as nchar(15),@telefonoCelular as nchar(15),@ocupacion as nchar(30), @idLocalidad as int, @calle as nchar(30), @numero as nchar(5), @cp as nchar(8), @idObraSocial as int, @numeroAfiliado as nchar(20), @idTipoBeneficiario as int, @idParentesco as int, @dni as int) 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	Begin Tran Tadd
	Begin Try
	
	      
	   Insert Into Paciente (nombre,apellido,fecha_nacimiento,sexo, idEstadoCivil,telefonoFijo,telefonoCelular,ocupacion, idLocalidad, calle, numero, cp, idObraSocial, numeroAfiliado, idTipoBeneficiario, idParentesco,dni) 
	   Values (@nombre,@apellido,@fecha_nacimiento,@sexo, @idEstadoCivil,@telefonoFijo,@telefonoCelular,@ocupacion, @idLocalidad, @calle, @numero, @cp, @idObraSocial, @numeroAfiliado, @idTipoBeneficiario, @idParentesco,@dni)
       SELECT @id =  @@IDENTITY;
		
        COMMIT TRAN Tadd
		
	   
    End try

	
	Begin Catch
		Rollback TRAN Tadd
	End Catch
END

GO
/****** Object:  StoredProcedure [dbo].[sp_insertarPersonal]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

Create PROCEDURE [dbo].[sp_insertarPersonal] (@id as int output, @nombre as nvarchar(50),@apellido as nvarchar(20),@telefonoFijo as nchar(15),@telefonoCelular as nchar(15), @idLocalidad as int, @calle as nchar(30), @numero as nchar(5), @cp as nchar(8), @dni as int, @idArea as int) 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	Begin Tran Tadd
	Begin Try
	
	      
	   Insert Into Personal(nombre,apellido,telefonoFijo,telefonoCelular,idLocalidad, calle, numero, cp,dni,idArea) 
	   Values (@nombre,@apellido,@telefonoFijo,@telefonoCelular, @idLocalidad, @calle, @numero, @cp,@dni,@idArea)
       SELECT @id =  @@IDENTITY;
		
        COMMIT TRAN Tadd
		
	   
    End try

	
	Begin Catch
		Rollback TRAN Tadd
	End Catch
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insertarProfesional]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_insertarProfesional] (@id as int output, @nombre as nvarchar(50),@apellido as nvarchar(20),@telefonoFijo as nchar(15),@telefonoCelular as nchar(15), @idLocalidad as int, @calle as nchar(30), @numero as nchar(5), @cp as nchar(8), @dni as int,@matricula_profesional as nvarchar(10), @porc_autogestion as float, @idEspecialidad as int) 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	Begin Tran Tadd
	Begin Try
	
	      
	   Insert Into Profesionales(nombre,apellido,telefonoFijo,telefonoCelular,idLocalidad, calle, numero, cp,dni,matricula_profesional,porc_autogestion,idEspecialidad) 
	   Values (@nombre,@apellido,@telefonoFijo,@telefonoCelular, @idLocalidad, @calle, @numero, @cp,@dni,@matricula_profesional,@porc_autogestion,@idEspecialidad)
       SELECT @id =  @@IDENTITY;
		
        COMMIT TRAN Tadd
		
	   
    End try

	
	Begin Catch
		Rollback TRAN Tadd
	End Catch
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insertarProfesionalXpractica]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE  [dbo].[sp_insertarProfesionalXpractica] (@idCabo as int, @idNomencladorXcabo as int, @idProfesional as int)
	
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	Begin Tran Tadd
	Begin Try
	
	      
	   Insert Into ProfesionalXpractica(idCabo,idNomencladorXcabo, idProfesional)
	   Values (@idCabo,@idNomencladorXcabo,@idProfesional)
      
		
        COMMIT TRAN Tadd
		
	   
    End try

	
	Begin Catch
		Rollback TRAN Tadd
	End Catch
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insertarTempProfesionalesLiquidacion]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_insertarTempProfesionalesLiquidacion] 
	-- Add the parameters for the stored procedure here
	(
		@idCabo as int,
		@fechaCobroCabo as date,
		@idNomenclador as int,
		@idProfesional as int,
		@montoPractica as numeric(18,2),
		@idObraSocial as int,
		@idNomencladorXcabo as int,
		@idRegistro as int
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	insert into Temp_LiquidacionProfesionales (idCabo,fechaCobroCabo,idNomenclador,idProfesional,montoPractica,idObraSocial,idNomencladorXcabo,idRegistro)
	values (@idCabo,@fechaCobroCabo,@idNomenclador,@idProfesional,@montoPractica,@idObraSocial,@idNomencladorXcabo,@idRegistro)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insetarCodigoNomenclador]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_insetarCodigoNomenclador](@descripcion as nvarchar(200), @codigo as nvarchar (20), @arancel as int)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	declare @id as int
	SET NOCOUNT ON;
	Begin Tran Tadd
	Begin Try

    -- Insert statements for procedure here
	set @id = (select max(Nomenclador.id) from Nomenclador)
	set @id = (@id +1)
	insert into Nomenclador (Id,Codigos, Descripcion)
	values (@id, @codigo, @descripcion)

	set @id = (select max(Arancel_Nomenclador.id) from Arancel_Nomenclador)
	set @id = (@id +1)
	insert into Arancel_Nomenclador (Id,Codigos, Arancel)
	values (@id, @codigo, @arancel)

	COMMIT TRAN Tadd

	End try

	Begin Catch
		Rollback TRAN Tadd
	End Catch

END
GO
/****** Object:  StoredProcedure [dbo].[sp_liquidacionXcabo]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_liquidacionXcabo](
	@idCabo as int output,
	@dni as int output,
	@nombre as nvarchar(100) output,
	@codigoPrincipal as nvarchar(5) output,
	@monto as int output,
	@fechaDesde as char(10),
	@fechaHasta as char(10),
	@idObraSocial as int,
	@idTipoAtencion as int
	--@idnc as int
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @atencion as int

	if @idTipoAtencion = 3 begin
		SELECT  c.idCabo,(p.dni), (p.nombre + ' ' + p.apellido),c.idTipoAtencion, c.fechaAltaInternacion
		FROM Cabo as c INNER JOIN  NomencladorXcabo as nc on c.idCabo = nc.idCabo
		right join Paciente p on p.idPaciente = c.idPaciente

		inner join Nomenclador n on nc.idNomenclador = n.Id
		inner join Arancel_Nomenclador an on an.Codigos = an.Codigos
		and c.idObraSocial = @idObraSocial 
		and c.idTipoAtencion = 3
		and c.fechaAltaInternacion between  @fechaDesde and  @fechaHasta 
		group by c.idCabo, p.dni, (p.nombre + ' ' + p.apellido),c.idTipoAtencion, c.fechaAltaInternacion
		order by c.idCabo asc

	select nc.idCabo, (sum(nc.montoPractica) + sum(mc.monto)) -- sum(an.Arancel)--  
		FROM Cabo as c INNER JOIN  NomencladorXcabo as nc on c.idCabo = nc.idCabo
		--from Cabo c, NomencladorXcabo nc , MontoMedicamentoXcabo mc
		--where c.idCabo  = nc.idCabo
		--and nc.idCabo = mc.idCabo
		inner join MontoMedicamentoXcabo mc on c.idCabo = mc.idCabo
		inner join Nomenclador n on nc.idNomenclador = n.Id
		inner join Arancel_Nomenclador an on an.Codigos = n.Codigos
		and c.idObraSocial = @idObraSocial 
		and c.idTipoAtencion = 3
		and c.fechaAltaInternacion between  @fechaDesde and  @fechaHasta 
		group by nc.idCabo
		order by  nc.idCabo asc


	end

	else if @idTipoAtencion = 0	begin
		SELECT  c.idCabo,(p.dni), (p.nombre + ' ' + p.apellido),c.idTipoAtencion, c.fechaAltaInternacion
		FROM Cabo as c INNER JOIN  NomencladorXcabo as nc on c.idCabo = nc.idCabo
		right join Paciente p on p.idPaciente = c.idPaciente

		inner join Nomenclador n on nc.idNomenclador = n.Id
		inner join Arancel_Nomenclador an on an.Codigos = an.Codigos
		and c.idObraSocial = @idObraSocial 
		--and c.idTipoAtencion <> 3
		and c.fechaAltaInternacion between  @fechaDesde and  @fechaHasta 
		group by c.idCabo, p.dni, (p.nombre + ' ' + p.apellido),c.idTipoAtencion, c.fechaAltaInternacion
		order by c.idCabo asc

		select nc.idCabo, (sum(nc.montoPractica) + sum(mc.monto))-- sum(an.Arancel) --
		FROM Cabo as c INNER JOIN  NomencladorXcabo as nc on c.idCabo = nc.idCabo
		inner join MontoMedicamentoXcabo mc on c.idCabo = mc.idCabo
inner join Nomenclador n on nc.idNomenclador = n.Id
inner join Arancel_Nomenclador an on an.Codigos = n.Codigos
		and c.idObraSocial = @idObraSocial 
		--and c.idTipoAtencion <> 3
		and c.fechaAltaInternacion between  @fechaDesde and  @fechaHasta 
		group by nc.idCabo
		order by  nc.idCabo asc

	end 

	else if @idTipoAtencion <> 3	begin
		SELECT  c.idCabo,(p.dni), (p.nombre + ' ' + p.apellido),c.idTipoAtencion, c.fechaCabo
		FROM Cabo as c INNER JOIN  NomencladorXcabo as nc on c.idCabo = nc.idCabo
		right join Paciente p on p.idPaciente = c.idPaciente

		inner join Nomenclador n on nc.idNomenclador = n.Id
		inner join Arancel_Nomenclador an on an.Codigos = an.Codigos
		and c.idObraSocial = @idObraSocial 
		and c.idTipoAtencion <> 3
		and c.fechaCabo between  @fechaDesde and  @fechaHasta 
		group by c.idCabo, p.dni, (p.nombre + ' ' + p.apellido),c.idTipoAtencion, c.fechaCabo
		order by c.idCabo asc

		select nc.idCabo, sum(nc.montoPractica)  --sum(an.Arancel)
		FROM Cabo as c INNER JOIN  NomencladorXcabo as nc on c.idCabo = nc.idCabo
		
inner join Nomenclador n on nc.idNomenclador = n.Id
inner join Arancel_Nomenclador an on an.Codigos = n.Codigos
		and c.idObraSocial = @idObraSocial 
		and c.idTipoAtencion <> 3
		and c.fechaCabo between  @fechaDesde and  @fechaHasta 
		group by nc.idCabo
		order by  nc.idCabo asc

	end 



	

--select nc.idCabo, sum(an.Arancel)
--FROM Cabo as c INNER JOIN  Paciente as p on c.idPaciente = p.idPaciente
--INNER JOIN NomencladorXcabo as nc on nc.idCabo = c.idCabo 
--inner join Nomenclador n on nc.idNomenclador = n.Id
--inner join Arancel_Nomenclador an on an.Codigos = n.Codigos
--group by nc.idCabo
--order by nc.idCabo


END
GO
/****** Object:  StoredProcedure [dbo].[sp_mismaPracticaXprofesional]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_mismaPracticaXprofesional](
	-- Add the parameters for the stored procedure here
	@idNomencladorPorCabo as int
	
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select COUNT(nc.idNomencladoXcabo) from ProfesionalXpractica pp, NomencladorXcabo nc
where pp.idNomencladorXcabo = nc.idNomencladoXcabo
and nc.idNomencladoXcabo = @idNomencladorPorCabo
END
GO
/****** Object:  StoredProcedure [dbo].[sp_modificarArancel]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_modificarArancel](@arancel as decimal(10,2), @codigo as nvarchar(255))
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Update Arancel_Nomenclador set Arancel = @arancel where Codigos = @codigo
END

GO
/****** Object:  StoredProcedure [dbo].[sp_modificarCabo]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_modificarCabo] (@id as int , @fechaCabo as date, @codigoCabo as nvarchar(20),@idPaciente as int, @idObraSocial as int, @idTipoAtencion as int, @fechaAltaInternacion as date) 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	Begin Tran Tadd
	Begin Try
		delete from CIExCabo where idCabo = @id
		delete from NomencladorXcabo where idCabo = @id     
		delete from MedicamentoXcabo where idCabo = @id 
		delete from MontoMedicamentoXcabo where idCabo = @id
		delete from ProfesionalXpractica where idCabo = @id
	   UPDATE Cabo 
	   set fechaCabo=@fechaCabo,
	   codigoCabo=@codigoCabo,
	   idPaciente=@idPaciente,
	   idObraSocial=@idObraSocial,
	   idTipoAtencion=@idTipoAtencion,
	   fechaAltaInternacion = @fechaAltaInternacion
	   WHERE idCabo = @id
		
		    
       
	   COMMIT TRAN Tadd
		
	   
    End try

	
	Begin Catch
		Rollback TRAN Tadd
	End Catch
END

GO
/****** Object:  StoredProcedure [dbo].[sp_modificarMedicamento]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_modificarMedicamento] (@idMedicamento as int, @producto as nvarChar(50), @presentacion as nvarchar(50), @precio  as numeric(18,2))
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Update Medicamentos set producto = @producto,
	presentacion = @presentacion,
	precio = @precio
	 where idMedicamento = @idMedicamento
END
GO
/****** Object:  StoredProcedure [dbo].[sp_modificarMedicamentoXcabo]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_modificarMedicamentoXcabo] (@idMedicamentoXcabo as int, @idMedicamento as int, @idCabo as int, @cantidad as int)
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Update MedicamentoXcabo set idMedicamento =  @idMedicamento,
	idCabo = @idCabo,
	cantidad = @cantidad
	 where @idMedicamentoXcabo = @idMedicamentoXcabo
END
GO
/****** Object:  StoredProcedure [dbo].[sp_modificarObraSocial]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_modificarObraSocial]  (@id as int, @descripcion as nvarchar(200), @sigla as nvarchar (20),@codigo as nvarchar(20), @localidad as nvarchar(50), @numero as nvarchar(6), @calle as nvarchar(50), @cp as nvarchar(8))
--(@razon_social as varchar(200),@cuit as nchar(11), @idIva as nchar(11),@idLocalidad as int,@calle as nchar(50),@numero as nchar(5),@cp as nchar(4),@telefono as nchar(15),@mail as nchar(50),@codigoObraSocial as nchar(10),@idObraSocial as int) 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Begin Tran Tadd
	Begin Try

       
	   update  ObraSocial 
	   --set razon_social = @razon_social,
	   --cuit =@cuit,
	   --idIva = @idIva,
	   set localidad = @localidad,
	   calle = @calle,
	   --numero = @numero,
	   cp = @cp,
	   numero = @numero,
	   --telefono = @telefono,
	  -- mail =@mail,
	   --codObraSocial=@codigoObraSocial
       descripcion = @descripcion,
	   codigo = @codigo
	   ,sigla = @sigla
	   where Id = @id          
        COMMIT TRAN Tadd

    End try

	
	Begin Catch
		Rollback TRAN Tadd
	End Catch
END
GO
/****** Object:  StoredProcedure [dbo].[sp_modificarPaciente]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE  [dbo].[sp_modificarPaciente](@idPaciente as int,@nombre as nvarchar(50),@apellido as nvarchar(20),@fecha_nacimiento as date,@sexo as int, @idEstadoCivil as int,@telefonoFijo as nchar(15),@telefonoCelular as nchar(15),@ocupacion as nchar(30), @idLocalidad as int, @calle as nchar(30), @numero as nchar(5), @cp as nchar(8), @idObraSocial as int, @numeroAfiliado as nchar(20), @idTipoBeneficiario as int, @idParentesco as int, @dni as int) 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Begin Tran Tadd
	Begin Try

       
	   update  Paciente 
	   set nombre= @nombre,
	   apellido = @apellido,
	   fecha_nacimiento = @fecha_nacimiento,
	   sexo = @sexo,
	   idEstadoCivil= @idEstadoCivil,
	   telefonoFijo= @telefonoFijo,
	   telefonoCelular= @telefonoCelular,
	   ocupacion = @ocupacion,
	   idLocalidad= @idLocalidad,
	   calle= @calle,
	   numero= @numero,
	   cp= @cp,
	   idObraSocial= @idObraSocial,
	   numeroAfiliado= @numeroAfiliado,
	   idTipoBeneficiario= @idTipoBeneficiario,
	   idParentesco= @idParentesco ,
	   dni = @dni 
	   where idPaciente = @idPaciente          
        COMMIT TRAN Tadd

    End try

	
	Begin Catch
		Rollback TRAN Tadd
	End Catch
END
GO
/****** Object:  StoredProcedure [dbo].[sp_modificarPersonal]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

Create PROCEDURE [dbo].[sp_modificarPersonal] (@idPersonal as int,@nombre as nvarchar(50),@apellido as nvarchar(20),@telefonoFijo as nchar(15),@telefonoCelular as nchar(15), @idLocalidad as int, @calle as nchar(30), @numero as nchar(5), @cp as nchar(8), @dni as int, @idArea as int) 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Begin Tran Tadd
	Begin Try

       
	   update  Personal 
	   set nombre= @nombre,
	   apellido = @apellido,
	  telefonoFijo= @telefonoFijo,
	   telefonoCelular= @telefonoCelular,
	  	idLocalidad= @idLocalidad,
	   calle= @calle,
	   numero= @numero,
	   cp= @cp,
	   
	   dni = @dni, 
	  	   idArea = @idArea
	   where idPersonal = @idPersonal          
        COMMIT TRAN Tadd

    End try

	
	Begin Catch
		Rollback TRAN Tadd
	End Catch
END
GO
/****** Object:  StoredProcedure [dbo].[sp_modificarProfesional]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE  [dbo].[sp_modificarProfesional] (@idProfesional as int,@nombre as nvarchar(50),@apellido as nvarchar(20),@telefonoFijo as nchar(15),@telefonoCelular as nchar(15), @idLocalidad as int, @calle as nchar(30), @numero as nchar(5), @cp as nchar(8), @dni as int,@matricula_profesional as nvarchar(10),@porc_autogestion as float, @idEspecialidad as int) 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Begin Tran Tadd
	Begin Try

       
	   update  Profesionales 
	   set nombre= @nombre,
	   apellido = @apellido,
	  telefonoFijo= @telefonoFijo,
	   telefonoCelular= @telefonoCelular,
	  	idLocalidad= @idLocalidad,
	   calle= @calle,
	   numero= @numero,
	   cp= @cp,
	   matricula_profesional = @matricula_profesional,
	   dni = @dni, 
	   porc_autogestion = @porc_autogestion,
	   idEspecialidad = @idEspecialidad
	   where idProfesional = @idProfesional          
        COMMIT TRAN Tadd

    End try

	
	Begin Catch
		Rollback TRAN Tadd
	End Catch
END

GO
/****** Object:  StoredProcedure [dbo].[sp_modificarRegistroCobroObraSocial]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[sp_modificarRegistroCobroObraSocial](@idRegistro as int,@numeroFactura as nvarchar(16), @fechaPrestacion as date, @fechaPresentacion as date, @fechaCobro as date, @importeFacturado as numeric(18,2),@importeCobrado as numeric(18,2), @estado as nvarchar(10), @idObraSocial as int) 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	Begin Tran Tadd
	Begin Try
	
	      
	   update  RegistroCobroOS 
	    set numeroFactura =@numeroFactura,
		fechaPresentacion =@fechaPresentacion,
		fechaPrestacion =@fechaPrestacion,
		fechaCobro =@fechaCobro ,
		importeCobrado = @importeCobrado,
		importeFacturado = @importeFacturado,
		estado = @estado,
		idObraSocial = @idObraSocial
	   where idRegistro = @idRegistro
       		
			if @estado = 'COBRADA' 
			BEGIN

			update Cabo
			set fechaCobroCabo = @fechaCobro
			where idObraSocial = @idObraSocial
			and idRegistroCobro = @idRegistro
			and MONTH(fechaAltaInternacion) = MONTH(@fechaPrestacion)
			and YEAR(fechaAltaInternacion) = year(@fechaPrestacion)
			END
			else
			begin
				update Cabo
			set fechaCobroCabo = null
			where idObraSocial = @idObraSocial
			and idRegistroCobro = @idRegistro
			and MONTH(fechaAltaInternacion) = MONTH(@fechaPrestacion)
			and YEAR(fechaAltaInternacion) = year(@fechaPrestacion)
			end 

        COMMIT TRAN Tadd
		
	   
    End try

	
	Begin Catch
		Rollback TRAN Tadd
	End Catch
END


GO
/****** Object:  StoredProcedure [dbo].[sp_montoProducidoProfesionales]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_montoProducidoProfesionales] (
	-- Add the parameters for the stored procedure here
	@fechaDesde as char(10),
	@fechaHasta as char(10)
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
--select p.idProfesional as ID,(p.apellido + ', ' + p.nombre) as Profesional, sum(nc.cantidad * an.Arancel) as Producido, (sum(nc.cantidad * an.Arancel) * 0.18),(sum(nc.cantidad * an.Arancel) * 0.82),p.porc_autogestion,(sum(nc.cantidad * an.Arancel*0.82) * (p.porc_autogestion/100))  
--from ProfesionalXpractica pp, Profesionales p, Nomenclador n, NomencladorXcabo nc, Arancel_Nomenclador an, Cabo cb, ObraSocial os, RegistroCobroOS rc
--where cb.fechaCobroCabo between @fechaDesde and @fechaHasta
--and rc.idObraSocial = os.Id
--and rc.estado = 'COBRADA'	
--and pp.idProfesional = p.idProfesional
--and pp.idNomencladorXcabo = nc.idNomencladoXcabo
--and nc.idNomenclador = n.Id
--and n.Codigos = an.Codigos
--and pp.idCabo = cb.idCabo
--and cb.idObraSocial = os.Id
--and cb.fechaCobroCabo is not null
--and cb.idRegistroCobro = rc.idRegistro
--group by p.idProfesional, (p.apellido + ', ' + p.nombre),p.porc_autogestion

select p.idProfesional as ID,(p.apellido + ', ' + p.nombre) as Profesional,  sum(tp.montoPractica) as Producido, ( sum(tp.montoPractica) * 0.18),( sum(tp.montoPractica) * 0.82),p.porc_autogestion,( sum(tp.montoPractica*0.82) * (p.porc_autogestion/100))  
--select sum(tp.montoPractica),p.idProfesional, (p.apellido + ', ' + p.nombre) as nombre, os.descripcion, os.sigla,os.Id
--from ProfesionalXpractica pp, Profesionales p, Nomenclador n, NomencladorXcabo nc, Arancel_Nomenclador an, Cabo cb, ObraSocial os, RegistroCobroOS rc
from Temp_LiquidacionProfesionales tp, Profesionales p, ObraSocial os, NomencladorXcabo nc, Nomenclador n,RegistroCobroOS rc 
where tp.fechaCobroCabo between @fechaDesde and @fechaHasta
and tp.idObraSocial = os.Id
--and rc.estado = 'COBRADA'	
and tp.idProfesional = p.idProfesional
--and tp.idNomencladorXcabo = nc.idNomencladoXcabo
and tp.idCabo = nc.idCabo
and nc.idNomenclador = n.Id
--and n.Codigos = an.Codigos
--and pp.idCabo = cb.idCabo
and tp.idObraSocial = os.Id
--and cb.fechaCobroCabo is not null
and tp.idRegistro = rc.idRegistro
--and p.idProfesional = @idProfesional

group by p.idProfesional, (p.apellido + ', ' + p.nombre), p.porc_autogestion
END
GO
/****** Object:  StoredProcedure [dbo].[sp_montoProducidoProfesionalesPorOS]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[sp_montoProducidoProfesionalesPorOS](
	-- Add the parameters for the stored procedure here
	@fechaDesde as char(10),
	@fechaHasta as char(10),
	@idProfesional as int
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
--	select sum(nc.cantidad * an.Arancel),p.idProfesional, (p.apellido + ', ' + p.nombre) as nombre, os.descripcion, os.sigla,os.Id
--from ProfesionalXpractica pp, Profesionales p, Nomenclador n, NomencladorXcabo nc, Arancel_Nomenclador an, Cabo cb, ObraSocial os, RegistroCobroOS rc
--where cb.fechaCobroCabo between @fechaDesde and @fechaHasta
--and rc.idObraSocial = os.Id
--and rc.estado = 'COBRADA'	
--and pp.idProfesional = p.idProfesional
--and pp.idNomencladorXcabo = nc.idNomencladoXcabo
--and nc.idNomenclador = n.Id
--and n.Codigos = an.Codigos
--and pp.idCabo = cb.idCabo
--and cb.idObraSocial = os.Id
--and cb.fechaCobroCabo is not null
--and cb.idRegistroCobro = rc.idRegistro
--and p.idProfesional = @idProfesional
--group by p.idProfesional, (p.apellido + ', ' + p.nombre), os.descripcion, os.sigla,os.Id

select sum(tp.montoPractica),p.idProfesional, (p.apellido + ', ' + p.nombre) as nombre, rc.idRegistro, os.descripcion, os.sigla,os.Id
--from ProfesionalXpractica pp, Profesionales p, Nomenclador n, NomencladorXcabo nc, Arancel_Nomenclador an, Cabo cb, ObraSocial os, RegistroCobroOS rc
from Temp_LiquidacionProfesionales tp, Profesionales p, ObraSocial os, NomencladorXcabo nc, Nomenclador n,RegistroCobroOS rc 
where tp.fechaCobroCabo between @fechaDesde and @fechaHasta
and tp.idObraSocial = os.Id
--and rc.estado = 'COBRADA'	
and tp.idProfesional = p.idProfesional
and tp.idNomencladorXcabo = nc.idNomencladoXcabo
and nc.idNomenclador = n.Id
--and n.Codigos = an.Codigos
--and pp.idCabo = cb.idCabo
and tp.idObraSocial = os.Id
--and cb.fechaCobroCabo is not null
and tp.idRegistro = rc.idRegistro
and p.idProfesional = @idProfesional

group by  p.idProfesional, (p.apellido + ', ' + p.nombre), rc.idRegistro, os.descripcion, os.sigla,os.Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_nomencladorLaboratorioXid]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  PROCEDURE [dbo].[sp_nomencladorLaboratorioXid](@id as int)
	-- Add the parameters for the stored procedure here
	--<@Param1, sysname, @p1> <Datatype_For_Param1, , int> = <Default_Value_For_Param1, , 0>, 
	--<@Param2, sysname, @p2> <Datatype_For_Param2, , int> = <Default_Value_For_Param2, , 0>

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
		SELECT nl.Id,n.Codigos, nl.Descripcion, an.Arancel 
		FROM Nomenclador_Laboratorio nl, Nomenclador n, Arancel_nomenclador an 
		WHERE n.Codigos = an.Codigos and nl.idNomenclador = n.Descripcion and nl.Id = @id
		ORDER BY n.Codigos

	
	-- Insert statements for procedure here
END
GO
/****** Object:  StoredProcedure [dbo].[sp_NomencladorParaReporte]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_NomencladorParaReporte]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT n.Id, n.Codigos, n.Descripcion, a.Arancel 
		FROM Nomenclador n, Arancel_Nomenclador a
		WHERE n.Codigos = a.Codigos order by n.Id
END

GO
/****** Object:  StoredProcedure [dbo].[sp_nomencladorXid]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_nomencladorXid](@id as int, @tabla as nvarchar(30),@codigo as varchar(20))
	-- Add the parameters for the stored procedure here
	--<@Param1, sysname, @p1> <Datatype_For_Param1, , int> = <Default_Value_For_Param1, , 0>, 
	--<@Param2, sysname, @p2> <Datatype_For_Param2, , int> = <Default_Value_For_Param2, , 0>

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	if @tabla = 'nomenclador' begin
		select * from Nomenclador where id = @id
	end
	else if @tabla = ''
	begin
		--select * from Nomenclador_Laboratorio where Id = @id
		SELECT nl.Id,n.Codigos, nl.Descripcion, an.Arancel 
		FROM Nomenclador_Laboratorio nl, Nomenclador n, Arancel_nomenclador an 
		WHERE n.Codigos = an.Codigos and nl.idNomenclador = n.Descripcion and nl.Id = @id 
		ORDER BY n.Codigos
	end
	else if @tabla = 'codigo' begin
		SELECT n.Id,n.Codigos, n.Descripcion 
		FROM Nomenclador_Laboratorio nl, Nomenclador n, Arancel_nomenclador an 
		WHERE n.Codigos = an.Codigos and nl.idNomenclador = n.Descripcion and  n.Codigos = @codigo 
		GROUP BY n.Id,n.Codigos, n.Descripcion 
		ORDER BY n.Codigos
	end
	
	-- Insert statements for procedure here
END


GO
/****** Object:  StoredProcedure [dbo].[sp_registrarCobroObraSocial]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_registrarCobroObraSocial](@numeroFactura as nvarchar(16), @fechaPrestacion as date, @fechaPresentacion as date, @fechaCobro as date, @importeFacturado as numeric(18,2),@importeCobrado as numeric(18,2), @estado as nvarchar(10), @idObraSocial as int) 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	Begin Tran Tadd
	Begin Try
	
	      
	   Insert Into RegistroCobroOS (numeroFactura,fechaPresentacion,fechaPrestacion,fechaCobro,importeCobrado,importeFacturado,estado,idObraSocial)
	   Values (@numeroFactura,@fechaPresentacion,@fechaPrestacion,@fechaCobro,@importeCobrado,@importeFacturado,@estado,@idObraSocial)
       		
			if @estado = 'COBRADA' 
			BEGIN
		update Cabo
		set fechaCobroCabo = @fechaCobro,
		idRegistroCobro = @@IDENTITY
		where idObraSocial = @idObraSocial
		and MONTH(fechaAltaInternacion) = MONTH(@fechaPrestacion)
		and YEAR(fechaAltaInternacion) = year(@fechaPrestacion)
			END
			else
			begin
			update Cabo
		set fechaCobroCabo = null,
		idRegistroCobro = @@IDENTITY
		where idObraSocial = @idObraSocial
		and MONTH(fechaAltaInternacion) = MONTH(@fechaPrestacion)
		and YEAR(fechaAltaInternacion) = year(@fechaPrestacion)
			end 

        COMMIT TRAN Tadd
		
	   
    End try

	
	Begin Catch
		Rollback TRAN Tadd
	End Catch
END

GO
/****** Object:  StoredProcedure [dbo].[sp_registrarDebito]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE  [dbo].[sp_registrarDebito] (@idPractica as int, @montoDebito as numeric(18,2))
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Begin Tran Tadd
	Begin Try
	
    -- Insert statements for procedure here
	update ProfesionalXpractica set debito = @montoDebito where ProfesionalXpractica.idProfesionalXpractica = @idPractica 
 COMMIT TRAN Tadd
		
	   
    End try

	
	Begin Catch
		Rollback TRAN Tadd
	End Catch
END
GO
/****** Object:  StoredProcedure [dbo].[sp_todasEnfermedades]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_todasEnfermedades](@descripcion varchar(30))
	-- Add the parameters for the stored procedure here
	--<@Param1, sysname, @p1> <Datatype_For_Param1, , int> = <Default_Value_For_Param1, , 0>, 
	--<@Param2, sysname, @p2> <Datatype_For_Param2, , int> = <Default_Value_For_Param2, , 0>

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	if @descripcion is null begin
		select * from CIE_10_COD3
	end
	else
	begin
		select * from CIE_10_COD3 where Descripcion  LIKE '%' +  @descripcion + '%' or Codigo LIKE @descripcion + '%'
	end
	-- Insert statements for procedure here
END


GO
/****** Object:  StoredProcedure [dbo].[sp_todasObrasSociales]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_todasObrasSociales](@descripcion as varchar(30),@id as int)
	

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	-- busco todos los pacientes
	if @descripcion is null and @id = 0 begin
		select * from ObraSocial
	end
	-- busco los pacientes por descripcion
	if @descripcion is not null and @id = 0
	begin
		select * from ObraSocial where descripcion  LIKE '%' +  @descripcion + '%' or sigla  LIKE '%' +  @descripcion + '%'
	end
	-- busco paciente por id
	if @id > 0 
	begin
		select * from ObraSocial where id = @id
	end
	-- Insert statements for procedure here
END


GO
/****** Object:  StoredProcedure [dbo].[sp_todoNomenclador]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_todoNomenclador](@descripcion varchar(30)) 

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	if @descripcion is null begin
		SELECT n.Id, n.Codigos, n.Descripcion, a.Arancel 
		FROM Nomenclador n, Arancel_Nomenclador a
		WHERE n.Codigos = a.Codigos order by n.Id
	end
	else
	begin
		
		SELECT n.Id as Id, n.Codigos as Codigos, n.Descripcion as Descripcion, a.Arancel as Arancel 
		FROM Nomenclador n, Arancel_Nomenclador a 
		WHERE n.Codigos = a.Codigos and (n.Descripcion  LIKE '%' +  @descripcion + '%' or n.Codigos  LIKE  @descripcion + '%')  order by n.Id
	end

    
END



GO
/****** Object:  StoredProcedure [dbo].[sp_todoNomencladorLaboratorio]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_todoNomencladorLaboratorio](@descripcion varchar(30))
	-- Add the parameters for the stored procedure here
	--<@Param1, sysname, @p1> <Datatype_For_Param1, , int> = <Default_Value_For_Param1, , 0>, 
	--<@Param2, sysname, @p2> <Datatype_For_Param2, , int> = <Default_Value_For_Param2, , 0>

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	if @descripcion is null begin
		SELECT DISTINCT(nl.Id),n.Codigos, nl.Descripcion, an.Arancel 
		FROM Nomenclador_Laboratorio nl, Nomenclador n, Arancel_nomenclador an 
		WHERE n.Codigos = an.Codigos and nl.idNomenclador = n.Descripcion 
		ORDER BY n.Codigos
    
	end
	else
	begin
		SELECT  DISTINCT(nl.Id),n.Codigos, nl.Descripcion, an.Arancel 
		FROM Nomenclador_Laboratorio nl, Nomenclador n, Arancel_nomenclador an 
		WHERE n.Codigos = an.Codigos and nl.idNomenclador = n.Descripcion and nl.Descripcion LIKE '%' +  @descripcion + '%'  
		ORDER BY n.Codigos
    end
	-- Insert statements for procedure here
END

GO
/****** Object:  StoredProcedure [dbo].[sp_validarDuplicadoRegistroCobro]    Script Date: 29/7/2026 09:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_validarDuplicadoRegistroCobro] (@idObraSocial as int, @fechaPrestacion as date)
	

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	-- busco todos los pacientes
	select * from RegistroCobroOS
	where idObraSocial = @idObraSocial
	and month(fechaPrestacion) = month(@fechaPrestacion)
	and YEAR(fechaPrestacion) = YEAR(@fechaPrestacion)
END

GO
USE [master]
GO
